

div(ng-include='"components/navbar/navbar.html"')

.container
  .row
    .col-sm-9
      div.liot-title REST API templates
      .row.col-sm-12(ng-init="visibleLimit = 6")
        ul.list-unstyled.col-sm-6.col-md-6.col-lg-6.top-buffer(ng-repeat="api in apis | limitTo: visibleLimit as results", data-mh='apiGroup')
          div.liot-item
            div.liot-item-title.clearfix
              p.pull-left {{api.name}}
              .btn-group.pull-right(role="group")
                a.btn.btn-xs.btn-primary(ng-href="{{deviceManagerUrl+'/apis/'+api.name}}", target="_blank")
                  i.fa.fa-bars
                a.btn.btn-xs.btn-primary(ng-href="/swagger-editor/#/?backend={{deviceManagerUrl+'/apis/'+api.name | encodeUri}}", 
                      | target="_blank")
                  i.fa.fa-edit
                a.btn.btn-xs.btn-primary(ng-click="deleteApi(api)")
                  i.fa.fa-trash
            p {{api.description}}
            br
            span Required capabilities: {{api.devcap}}

    .col-sm-3       
        div
          div.liot-title Create new
          br
          span(for="apiClass") Name of template:
          |  
          input(type="text", required, id="apiClass", name="apiClass", ng-model='newApiClass', placeholder="template name")
          br
          br
          span(for="apiSelect")  Required device capability:
          select(ng-model="selectedDevCap", id="apiSelect")
            option(ng-repeat="devCap in devCaps") {{devCap.name}}
          |  
          br
          br
          button.btn.liot-button(value="Create", ng-disabled="!newApiClass" ng-click='newApi()') Create

//Add the footer and specify name of current page (as found in components/footer/footer.controller.js)
liot-footer(current-page='APIs')
