$liot-font: sans-serif;
$liot-font-size: 12px;
$liot-font-color: #333333;
$liot-grey-color: #797979;

.footer{
  position: sticky;
  bottom: 0px;
}

.slide-down-footer {
  position: absolute;
  bottom: 0;  
  width: 100%;
  opacity: 1;
  -webkit-animation-name: slide-down; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 3s; /* Safari 4.0 - 8.0 */
  -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
  -webkit-animation-timing-function: ease-in-out; /* Safari 4.0 - 8.0 */
  animation-name: slide-down;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes slide-down {
  from { 
    position: fixed;
    bottom: 0px; 
    }
  to {
    position: relative;
  }
  // 0% {
  //   position: absolute;
  //   bottom: 0;
  // }
  // 25% {
  //   position: absolute;
  //   bottom: -10px;    
  // }
  // 50% {
  //   position: absolute;
  //   bottom: -20px;
  // }
  // 75% {
  //   position: absolute;
  //   bottom: -30px;
  // }
  // 100% {
  //   position: relative;
  // }
}

/* Standard syntax */
@keyframes slide-down {
  from { 
    position: fixed;
    bottom: 0px; 
     }
  to {
    position: relative;
  }

  // 0% {
  //   position: absolute;
  //   bottom: 0;
  // }
  // 25% {
  //   position: absolute;
  //   bottom: -10px;    
  // }
  // 50% {
  //   position: absolute;
  //   bottom: -20px;
  // }
  // 75% {
  //   position: absolute;
  //   bottom: -30px;
  // }
  // 100% {
  //   position: relative;
  // }
}


.footer-font {
  font: 100% $liot-font;
  color: $liot-font-color;
  font-size: $liot-font-size;
}

.liot-step {
  position: relative;
  width: 140px;
  height: 80px;
}

.step-stack {
  width: 95%;
  height: 95%;
  position: absolute;
  pointer-events: none;
  padding: 5px 5px 5px 5px;
  border: 2px solid #0099cc;
  white-space: normal;
  word-wrap: break-word;
  border-color: $liot-grey-color;
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 85%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
}

.step-stack.btm {
  left: 6px;
  top: 6px;
  z-index: -2;
}

.step-stack.mid {
  left: 3px;
  top: 3px;
  z-index: -1;
}

.step-stack.top {
  left: 0px;
  top: 0px;
  z-index: 0;
}

.liot-step.flow {
  width: 40px;
}

.liot-arrow {
  position: absolute;
  left: 0px;
  top: 20px;
  color: $liot-grey-color;
}

.selectedpage {
  background: none;
  background-color: $tut-green;
}
