// Copyright (c) TUT Tampere University of Technology 2015-2016
// All rights reserved.
// 
// Main author(s):
// Antti Nieminen <antti.h.nieminen@tut.fi>

div(ng-include='"components/navbar/navbar.html"')


.container
  .row
    .col-sm-9
      div.liot-title Existing projects
      .row.col-lg-12(ng-init="visibleLimit = 6")
        ul.list-unstyled.col-md-6.col-lg-6.col-sm-6.top-buffer(ng-repeat='project in projects | limitTo: visibleLimit as results', data-mh='projects')          
          div.liot-item
            div.liot-item-title.clearfix
              i.fa.fa-file-code-o.pull-left 
              p.pull-left {{project.name}} : {{project.version}}
              .btn-group.pull-right(role="group")
                a.btn.btn-xs.btn-primary(ng-href="/project/{{project.name}}")
                  i.fa.fa-edit
                a.btn.btn-xs.btn-primary(ng-click="deleteProjectModal(project)")
                  i.fa.fa-trash

            //div.clearfix
            //p Version: {{project.version}}
            p {{project.description}}
      button.btn-primary(ng-hide="results.length === projects.length" ng-click="visibleLimit = visibleLimit +2") show more...
            
          
    .col-sm-3
      div.liot-title Create new
      .row
        .form
          br
          div
            p Project name:            
            input(type="text", required, ng-pattern="/^[a-z][a-z0-9]*$/", placeholder="" ng-model='newProj.name')
          br
          div
            p Project description:            
            textarea(required, placeholder="" ng-model='newProj.description')
          br
          div
            button.btn.liot-button(type='submit', ng-click="createProject()") Create

//Add the footer and specify name of current page (as found in components/footer/footer.controller.js)
liot-footer(current-page='projects')


// Template for the delete project modal dialog.
// https://docs.angularjs.org/api/ng/directive/script
script(type="text/ng-template", id="deleteproject.html")
  .modal-header
    button(type="button", class="close", ng-click="cancel()") &times;
    h4.modal-title Delete Project
  .modal-body
    form(role="form", name="newprojectform", ng-submit="ok()")
      .form-group
        label(for="projectname")
          | Enter project name to confirm deletion: 
          strong(style='color:red;') {{project.name}}
        input.form-control(type="text", required, ng-pattern="/^[a-z][a-z0-9]*$/", id="projectname", name="projectname", placeholder="", ng-model="projectName")
        span.error(ng-if="newprojectform.projectname.$error.pattern") Project name must match 
          code [a-z][a-z0-9]*
        span(ng-if="newprojectform.projectname.$error.required || !newprojectform.projectname.$invalid")
          i.fa
  .modal-footer
      button.btn.btn-default(type="submit", ng-click="cancel()") Cancel
      button.btn.btn-danger(type="submit", ng-disabled="newprojectform.projectname.$invalid || (project.name !== projectName)", ng-click="ok()") Delete Project

