// Copyright (c) TUT Tampere University of Technology 2015-2016
// All rights reserved.
// 
// Main author(s):
// Antti Nieminen <antti.h.nieminen@tut.fi>

div(ng-include='"components/navbar/navbar.html"')


.container
  .row
    .col-sm-9
      div.liot-title Existing projects
      .row.col-lg-12
        ul.list-unstyled.row-eq-height.col-md-4.col-lg-4.col-sm-6.top-buffer(ng-repeat='project in projects', data-mh='projects')          
          div.liot-item
            div.liot-item-title
              i.fa.fa-file-code-o.pull-left 
              p {{project.name}}
            a.btn.btn-sm.liot-button(ng-href="/mycode/{{project.name}}") Edit
            p Version: {{project.version}}
            p Description: {{project.description}}
          
    .col-sm-3
      div.liot-title Create new
      .row
        .form
          br
          div
            p Project name:            
            input(type="text", required, ng-pattern="/^[a-z][a-z0-9]*$/", placeholder="" ng-model='newProj.name')
          br
          div
            p Project description:            
            textarea(required, placeholder="" ng-model='newProj.description')
          br
          div
            button.btn.liot-button(type='submit', ng-click="createProject()") Create

//Add the footer and specify name of current page (as found in components/footer/footer.controller.js)
liot-footer(current-page='myProjects')

