// Copyright (c) TUT Tampere University of Technology 2015-2016
// All rights reserved.
// 
// Main author(s):
// Antti Nieminen <antti.h.nieminen@tut.fi>

div(ng-include='"components/navbar/navbar.html"')

.container
  .row
    .col-sm-3
      .sidebar
        //h4 {{project.name}} source files
        h2 {{project.name}}
        a(ng-href="/") Change project
        .files
          ul.list-group
            li.list-group-item.project-file(ng-repeat="file in files.files | filter:{isDirectory: false} | orderBy:'name'",
              ng-class="{active: activeFile.name===file.name}", ng-click="openFile(file)")
              | {{file.name}} 
              i.fa.fa-circle-o-notch.fa-spin(ng-if="updating[file.name].status===0")
              i.fa.fa-warning(ng-if="updating[file.name].status===2")
            li.list-group-item
              .btn.btn-default(ngf-select="uploadFile($file)")
                i.fa.fa-plus
                |  Upload
          h4 {{project.name}} resources
          ul.list-group
            li.list-group-item(ng-repeat="file in resources.files | orderBy:'name'")
              | {{file.name}} 
            li.list-group-item
              .btn.btn-default(ngf-select="uploadResource($file)")
                i.fa.fa-plus
                |  Upload
          .form
            .form-group
              h4 Device Capabilities
              ul.nya-bs-select(ng-model='selectedDevCaps', title="All Capabilities" , data-live-search='true', multiple)
                li(nya-bs-option='devCap in devCaps', data-value="devCap.name")
                  a 
                    {{devCap.name}}
                    span.glyphicon.glyphicon-ok.check-mark
            .form-group          
              h4 Application Interfaces
              ul.nya-bs-select(ng-model='selectedAppCaps', data-live-search='true', multiple)
                li(nya-bs-option='api in apis group by api.devcap', data-value="api.name")
                  span.dropdown-header {{$group}}
                  a 
                    {{api.name}}
                    span.glyphicon.glyphicon-ok.check-mark
            .btn-group-vertical(role="group")
              button.btn.btn-default(ng-click='generateCode()')
                i.fa.fa-code
                |   Generate API Code
              button.btn.btn-default(ng-click="deleteDirtyApis()")
                i.fa.fa-times
                |   Delete dirty APIs
            .form-group
              a.btn.btn-default(role="button", ng-href="/deploy?project={{project.name}}") Go to deploy view
          //div
            .btn.btn-default(ng-click="changeView('deploy')") Do to deploy view
          //.div
            button.btn.btn-default
    .col-sm-9
      .the-editor(ng-if='activeFile', ui-ace='{onLoad: aceLoaded, mode: activeFile.mode}', ng-model='activeFile.content', ng-model-options='{debounce: 500}')

div(ng-include='"components/footer/footer.html"')
