.navbar-btn {    
    color: #FFFFFF !important;
    background-color: #47c8ff;
    font-family: 'Bell MT';
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    border: none;
}
.navbar-btn:hover {
    color: #FFFFFF !important;
    background-color: #318cb2 !important;
}

.navbar-btn:active {
    color: #FFFFFF !important;
    background-color: #318cb2 !important;
}

.btn-primary {
    color: #FFFFFF !important;
    border-radius: 10px;
    margin-left:10px;
}
