div.navbar.navbar-default.navbar-static-top(ng-controller='NavbarCtrl')
  div.container
    div.navbar-header
      button.navbar-toggle(type='button', ng-click='isCollapsed = !isCollapsed')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar

    div#navbar-main.navbar-collapse.collapse(uib-collapse='isCollapsed')
      ul.nav.navbar-nav
        li(ng-repeat='item in menu', disabled="true", ng-class='{active: isActive(item.link)}')
          a(class='btn navbar-btn', ng-href='{{item.link}}') {{item.title}}

        li(ng-show='isAdmin()', ng-class='{active: isActive("/admin")}')
          a(class='btn btn-primary navbar-btn', href='/admin') Admin

      ul.nav.navbar-nav.navbar-right
        li(ng-if='!isLoggedIn()', ng-class='{active: isActive("/signup")}')
          a(class='btn btn-primary navbar-btn', href='/signup') Sign up

        li(ng-if='!isLoggedIn()', ng-class='{active: isActive("/login")}')
          a(class='btn btn-primary navbar-btn', href='/login') Login

        li(ng-if='isLoggedIn()')
          p.navbar-text Hello {{ getCurrentUser().name }}

        li(ng-if='isLoggedIn()', ng-class='{active: isActive("/settings")}')
          a(class='btn btn-primary navbar-btn', href='/settings')
            span.glyphicon.glyphicon-cog

        li(ng-if='isLoggedIn()', ng-class='{active: isActive("/logout")}')
          a(class='btn btn-primary navbar-btn', href='', ng-click='logout()') Logout
