.navbar-btn {    
    color: #FFFFFF !important;
    background-color: #47c8ff;
    font-family: 'Bell MT';
    font-style: normal;
    font-size: 18px;
    font-weight: normal;
    line-height: normal;
    border: none;
    //border-radius: 10px;
    margin-left: 10px;
    padding: 10px !important;
    text-rendering: optimizelegibility;
}
.navbar-btn:hover {
    color: #FFFFFF !important;
    background-color: #318cb2 !important;
}

.navbar-btn:active {
    color: #FFFFFF !important;
    background-color: #318cb2 !important;
}

.btn-primary {
    color: #FFFFFF !important;
    border-radius: 5px;
    margin-left:10px;
}
