

#network {
  height: 600px;
  border: 1px solid gray;
}


.the-editor {
  height: 400px;
}

.queryform label {
  margin-left: 8px;
  margin-right: 2px;
}

ul.appinfo {
  list-style-type: none;
  li {
    border-left: 1px solid #ddd;
    padding-left: 4px;
    margin-bottom: 4px;
  }
}

// .grid {
//   height: 450px;
//   width: 380px;
// }

.st-selected > td {
  background-color: rgb(44, 68, 172) !important;
}
