// Copyright (c) TUT Tampere University of Technology 2015-2016
// All rights reserved.
// 
// Main author(s):
// Antti Nieminen <antti.h.nieminen@tut.fi>

div(ng-include='"components/navbar/navbar.html"')

.container.ng-cloak
  ul.nav.nav-tabs(ng-init="tab='deploy'")
    li
      a(ng-click="tab='deploy'") Deploy
    li
      a(ng-click="tab='update'") Update
    //- li
    //-   a(ng-click="tab='mapview'") View in Map
  .tab-content
    include griddeploy.jade


    .container(id='MapView' ng-if="tab==='mapview'" ng-controller="DeployCtrl")      
      .row
        .col-sm-12
          .row
            //- p
            //-   | Select a proejct to find compatible target devices
            //-   ul.nya-bs-select(ng-model='selectedProject', title='select a project', data-live-search='true')
            //-     li(nya-bs-option='project in projects')
            //-       a 
            //-         {{project.name}}
            //-         span.glyphicon.glyphicon-ok.check-mark
          //- .row
          //-   p
          //-     | Or query devices:
          //-     //form.form-inline.queryform
          //- .row
          //-   .col-sm-6s
          //-     form
          //-       .form-group
          //-         label(for="queryStr") query:
          //-         textarea.form-control(rows="10", id="queryStr", ng-model="query", ng-model-options='{debounce: 200}')
          //-   .col-sm-6
          //-     form
          //-       .form-group
          //-         label(for="result") result:
          //-         textarea.form-control(rows="10", id="result", ng-model="resultQuery", ng-model-options='{debounce: 200}')
          #network
            vis-network(data="graphData", options="graphOptions", events="graphEvents", component="network")
          p
            .btn-group(role="group")
              button.btn.btn-default(ng-click="loadDevices()")
                span.fa.fa-refresh
              button.btn.btn-default(ng-click="camera.fit()")
                span.fa.fa-arrows-alt  fit camera
              button.btn.btn-default(ng-click="camera.fitOnSelectedNodes()")
                span.fa.fa-arrows-alt  fit camera on selection
              button.btn.btn-default(ng-click="camera.crawl()", ng-show="isCrawlingPossible" )
                span.fa.fa-arrows-alt  crawl in selection


//Add the footer and specify name of current page (as found in components/footer/footer.controller.js)
liot-footer(current-page='mydeploy')
//<liot-footer current-page='mydeploy'></liot-footer>
     

// Application log modal dialog
script(type="text/ng-template", id="applog.html")
  .modal-header
    button(type="button", class="close", ng-click="cancel()") &times;
    h4.modal-title Log of <strong>{{app.name}}</strong> at <strong>{{device.name}}</strong>
  .modal-body
    pre
      | {{log}}

