.container(id="DeployView" ng-show="tab==='deploy'" ng-controller="DeployCtrl")
    br
    .row
        .col-sm-6
            <strong>LiquidIoT devices</strong>
            .grid(id='devGrid', ui-grid='gridOptions' ui-grid-selection ui-grid-resize-columns)
        
        .col-sm-6
            <strong>LiquidIoT projects</strong>
            .grid(id='projGrid', ui-grid='projGridOptions' ui-grid-selection ui-grid-resize-columns)
    .row
        .col-sm-12
            span
    .row    
        .col-sm-12        
            button.btn.btn-primary(type="submit", ng-click="clearSelection()") Clear selection
            span
            button.btn.btn-primary(ng-click="openMapView()") View in Map
            span
            button.btn.btn-primary(ng-click="stageDeploy()") Deploy

.container(ng-if="tab === 'update'" id="UpdateView" ng-controller="ModifyAppInstCtrl")
    br
    .row 
        .col-sm-9
            table.table.table-striped.table-bordered(st-table="displayed" st-safe-src="installedApps" )
                thread
                    tr
                        th(select-all-rows all-data-rows="installedApps"  selected-rows="selectedAppInstances" ng-click="selectAllApps()")
                        th Name
                        th Version
                        th Device
                        th Status
                        th Location
                        th.col-sm-3 Possible actions
                    tr  
                        th                          
                        th
                            input(st-search="name" placeholder="app name" class="input-sm form-control" type="search") 
                        th
                            input(st-search="version" placeholder="version" class="input-sm form-control" type="search") 
                        th
                            input(st-search="device.name" placeholder="host device" class="input-sm form-control" type="search") 
                        th
                            input(st-search="status" placeholder="app status" class="input-sm form-control" type="search") 
                        th
                            input(st-search="device.location.tag" placeholder="location" class="input-sm form-control" type="search")
                        th
                tbody
                    tr(ng-repeat="app in displayed")
                        td(select-row row-data="app" ng-click="selectApp(app)")
                        td {{app.name.replace('liquidiot-', '')}}
                        td {{app.version}}
                        td {{app.device.name}}
                        td {{app.status}}
                        td {{app.device.location.tag}}
                        td 
                            .btn-group(ng-if="app.status !=='installed'", role="group")                                
                                button.btn-sm.btn-primary(ng-if="app.status==='paused'", ng-click="setAppStatus(app.device, app, 'running')")
                                    i.fa.fa-play
                                button.btn-sm.btn-primary(ng-if="app.status==='running'", ng-click="setAppStatus(app.device, app, 'paused')")
                                    i.fa.fa-pause
                                button.btn-sm.btn-warning(ng-if="app.canRollback", ng-click="rollbackApp(app.device, app)")
                                    i.fa.fa-rotate-left
                                button.btn-sm.btn-success(ng-click="updateApp(app.device, app)")
                                    i.fa.fa-rotate-right
                                button.btn-sm.btn-danger(ng-click="removeApp(app.device, app)")
                                    i.fa.fa-trash
                                button.btn-sm.btn-default(ng-click="openLogModal(app.device, app)")
                                    i.fa.fa-list
                            i(ng-if="app.status ==='installed'", style="color: red").fa.fa-spinner.fa-pulse.fa-2x.fa-fw
                            span(ng-if="app.status ==='installed'", style="color: red") Trying to run the application
            button.btn.btn-primary(type="submit", ng-click="clearSelections()") Clear selection
                span
            button.btn.btn-primary(ng-click="openMapView()") View in Map
                span
            button.btn.btn-primary(ng-click="modifySelectedApps()") Update
            
        .col-sm-3
            button.btn-sm.btn-primary(ng-click="showQueryWindow()")
                i.fa.fa-filter Advanced search
    .row
        .col-sm-12
            span
        

        

script(type="text/ng-template", id="deploysheet.html")
    .md-dialog(aria-label="Applications to deploy")
        form.ng-cloak
            md-toolbar(style="background-color: #46c8ff")
                .container.md-toolbar-tools
                    h2 Applications to deploy
                    span.flex
                    md-button.md-icon-button(ng-click="cancel()")
                        md-icon(md-font-icon="fa-window-close" class="fa")
            md-dialog-content
                .container.md-dialog-content
                    ul.list-unstyled(ng-repeat="dep in stagedDeployments")
                        li
                            md-checkbox(ng-model="dep.confirmDeployment") Deploy {{dep.projectName}} to {{dep.strTargets}}
                    
                .container(ng-show="showResults")
                    md-progress-circular(md-mode="indeterminate" md-diameter="20px" ng-disabled="deploymentDone")
                    //- uib-progress(max="numDeployments")
                    //-     uib-bar(value="numSuccessDeps", type="success")
                    //-     span(ng-hide="numSuccessDeps==0")
                    //-         {{numSuccessDeps}}
                    //-     uib-bar(value="numFailDeps", type="danger")
                    //-     span(ng-hide="numFailDeps==0")
                    //-         {{numFailDeps}}
                    ul.list-unstyled(ng-repeat="msg in results")                            
                        li
                            p {{msg}}

            md-dialog-actions(layout="row")
                span.flex 
                md-button.md-autofocus(ng-click="deploy()") Deploy
                md-button.md-autofocus(ng-click="cancel()") Close


script(type="text/ng-template", id="updateSheet.html")
    .md-dialog(aria-label="Selected applications")
        form.ng-cloak
            md-toolbar(style="background-color: #46c8ff")
                .container.md-toolbar-tools
                    h2 Applications selected for update
                    span.flex
                    md-button.md-icon-button(ng-click="cancel()")
                        md-icon(md-font-icon="fa-window-close" class="fa")
            md-dialog-content
                .container.md-dialog-content
                    ul.list-unstyled(ng-repeat="app in installedApps")
                        li(ng-init="app.confirmModification = true" ng-if="app.isSelected && app.isSelected===true")
                            md-checkbox(ng-model="app.confirmModification") {{app.name.replace('liquidiot-','')}} in {{app.device.name}} 
                    
                    .container(ng-show="showResults")
                        md-progress-circular(md-mode="indeterminate" md-diameter="20px" ng-disabled="modificationsDone")                      
                        ul.list-unstyled(ng-repeat="msg in results")                            
                            li
                                p {{msg}}

            md-dialog-actions(layout="row")
                span.flex 
                .btn-group(role="group")                                
                    button.btn-sm.btn-primary(ng-click="setAllAppsStatus('running')")
                        i.fa.fa-play Run
                    button.btn-sm.btn-primary(ng-click="setAllAppsStatus('paused')")
                        i.fa.fa-pause Pause
                    button.btn-sm.btn-primary(ng-click="rollbackAllApps()")
                        i.fa.fa-rotate-left Rollback
                    button.btn-sm.btn-primary(ng-click="updateAllApps()")
                        i.fa.fa-rotate-right Update
                    button.btn-sm.btn-danger(ng-click="removeAllApps()")
                        i.fa.fa-trash Remove
                    button.btn-sm.btn-primary(ng-click="cancel()") Close
            
        
script(type="text/ng-template", id="mapSheet.html")
    .container(id='MapView')
        #network
            vis-network(data="graphData", options="graphOptions", events="graphEvents", component="network")
        p
            .btn-group(role="group")
                button.btn.btn-default(ng-click="loadDevices()")
                    span.fa.fa-refresh
                //- button.btn.btn-default(ng-click="showSelectionsInMap()")
                //-     span.fa.fa-map-marker Selections
                button.btn.btn-default(ng-click="camera.fit()")
                    span.fa.fa-arrows-alt  fit camera
                button.btn.btn-default(ng-click="camera.fitOnSelectedNodes()")
                    span.fa.fa-arrows-alt  fit camera on selection
                button.btn.btn-default(ng-click="camera.crawl()", ng-show="isCrawlingPossible" )
                    span.fa.fa-arrows-alt  crawl in selection

script(type="text/ng-template", id="querySheet.html")
    .md-dialog(aria-label="Advanced Query")
        form.ng-cloak
            md-toolbar(style="background-color: #46c8ff")
                .container.md-toolbar-tools
                    h2 Advanced filter with query
                    span.flex
                    md-button.md-icon-button(ng-click="cancel()")
                        md-icon(md-font-icon="fa-window-close" class="fa")
            md-dialog-content
                .container
                    form
                    .form-group
                        label(for="queryStr") query:
                        textarea.form-control(rows="5", id="queryStr", ng-model="userQuery", placeholder="Example query: FOR dev in devices return dev")
                        button.btn-sm.btn-primary(ng-click="executeQuery()") Execute
                    form
                    .form-group
                        label(for="result") result:
                        textarea.form-control(rows="5", id="result", ng-model="queryResult", placeholder="Query results")
            md-dialog-actions(layout="row")
                span.flex 
                .btn-group(role="group")                                
                    md-button.md-autofocus(ng-click="applyQueryResult()") Apply query result
                    md-button.md-autofocus(ng-click="cancel()") Cancel
                        
        
