.container.flex(layout='row')
    md-content.flex(id='content')
        .row
            .col-sm-2
                button.btn.liot-button(type="submit", ng-click="") Clear selection
            .col-sm-2
                button.btn.liot-button(type="submit", ng-click="") Stage Deployment

        .row
            .col-sm-6
                p LiquidIoT devices
                .container.grid(id='devGrid', ui-grid='gridOptions' ui-grid-selection ui-grid-resize-columns)
            .col-sm-6
                p LiquidIoT projects
                .container.grid(id='projGrid', ui-grid='projGridOptions' ui-grid-selection ui-grid-resize-columns)
        