// Copyright (c) TUT Tampere University of Technology 2015-2016
// All rights reserved.
// 
// Main author(s):
// Antti Nieminen <antti.h.nieminen@tut.fi>

div(ng-include='"components/navbar/navbar.html"')

.container
  .row
    .col-sm-12
      div.liot-title {{project.name}}
  .row
    .col-sm-3
      .sidebar
        .files.container Source
          ul
            li.project-file(ng-repeat="file in files.files | filter:{isDirectory: false} | orderBy:'name'",
              ng-class="{active: activeFile.name===file.name}", ng-click="openFile(file)")
              | {{file.name}} 
              i.fa.fa-circle-o-notch.fa-spin(ng-if="updating[file.name].status===0")
              i.fa.fa-warning(ng-if="updating[file.name].status===2")
            li 
              a(ngf-select="uploadFile($file)")               
                |  Add new file
        .container Resources
          ul
            li(ng-repeat="file in resources.files | orderBy:'name'")
              | {{file.name}} 
            li
              a(ngf-select="uploadResource($file)")
                |  Add new resource
        .container Implemented REST APIs
          ul  
            li(ng-repeat='api in selectedAppCaps')    
              | {{api}}
            li
              a(ng-click='showAPIs()')
                |   Add new API
    .col-sm-9
      .the-editor(ng-if='activeFile', ui-ace='{onLoad: aceLoaded, mode: activeFile.mode}', ng-model='activeFile.content', ng-model-options='{debounce: 500}')
  .row
    .col-sm-10
    .col-sm-2
       a.btn.liot-button(role="button", ng-href="/deploy?project={{project.name}}") Go to deploy view

//Add the footer and specify name of current page (as found in components/footer/footer.controller.js)
liot-footer(current-page='mycode')

script(type="text/ng-template", id="showapis.html")
  .modal-header
    button(type="button", class="close", ng-click="cancel()") &times;
    div.liot-title Select API template(s) to add to project {{currentProject}}
  .modal-body
      .row
          .col-md-12
            ul.nav.nav-tabs.nav-stacked.col-md-4.col-sm-4.top-buffer(ng-repeat='api in allAPIs')          
              li
                input.pull-left(type='checkbox', ng-checked="implementedAPIs.indexOf(api.name) > -1 || apisToAdd.indexOf(api.name) > -1",
                    | ng-click='toggleAPISelection(api.name)', ng-disabled="implementedAPIs.indexOf(api.name) > -1")
                div.liot-item-title {{api.name}}
                p Required capabilities: {{api.devcap}} 
                p Description: {{api.description}}
                  
    
  .modal-footer
      button.btn.liot-button(type="submit", ng-click="cancel()") Cancel
      button.btn.liot-button(type="submit", ng-disabled="", ng-click="ok()") Generate template(s)
