h3 {
  color:#FF9B00 !important;
}

.modal-dialog{
  position: relative;
  display: table; //This is important 
  overflow-y: auto;    
  overflow-x: auto;
  width: auto;
  min-width: 300px;   
}

.the-editor {
  height: 70vh;
}

