// Copyright (c) TUT Tampere University of Technology 2015-2016
// All rights reserved.
// 
// Main author(s):
// Antti Nieminen <antti.h.nieminen@tut.fi>

div(ng-include='"components/navbar/navbar.html"')

.container
  .row(style='margin-bottom: 20px')
    .col-sm-12(style='background-color: lightgrey')
      h3 {{project.name}}
  .row(style='margin-bottom: 20px')
    .col-sm-3
      .sidebar
        //h4 {{project.name}} source files
        .files.container Source
          ul
            li.project-file(ng-repeat="file in files.files | filter:{isDirectory: false} | orderBy:'name'",
              ng-class="{active: activeFile.name===file.name}", ng-click="openFile(file)")
              | {{file.name}} 
              i.fa.fa-circle-o-notch.fa-spin(ng-if="updating[file.name].status===0")
              i.fa.fa-warning(ng-if="updating[file.name].status===2")
            li 
              a(ngf-select="uploadFile($file)")               
                |  Add new file
        .container Resources
          ul
            li(ng-repeat="file in resources.files | orderBy:'name'")
              | {{file.name}} 
            li
              a(ngf-select="uploadResource($file)")
                |  Add new resource
        .container Implemented REST APIs
          ul  
            li(ng-repeat='api in selectedAppCaps')    
              | {{api}}
            li
              a(ng-click='showAPIs()')
                |   Add new API
          //div
            .btn.btn-default(ng-click="changeView('deploy')") Do to deploy view
          //.div
            button.btn.btn-default
    .col-sm-9
      .the-editor(ng-if='activeFile', ui-ace='{onLoad: aceLoaded, mode: activeFile.mode}', ng-model='activeFile.content', ng-model-options='{debounce: 500}')
  .row(style='background-color: lightgrey')
    .col-sm-10
    .col-sm-2
       a.btn.btn-default(style='background-color: green', role="button", ng-href="/deploy?project={{project.name}}") Go to deploy view


div(ng-include='"components/footer/footer.html"')

script(type="text/ng-template", id="showapis.html")
  .modal-header
    button(type="button", class="close", ng-click="cancel()") &times;
    h3 Select APIs to implement
  .modal-body
      .row
          .col-md-12(style='background-color: #f2f2f2')
            ul.nav.nav-tabs.nav-stacked.col-md-6.col-sm-6(style='margin-top: 20px', ng-repeat='api in allAPIs')          
              li(style='background-color: white')
                //img(src='/assets/images/project_icon.png')
                input(type='checkbox', style='float:left; margin-right: 20px', ng-checked="implementedAPIs.indexOf(api.name) > -1", ng-click='toggleAPISelection(api.name)', ng-disabled="implementedAPIs.indexOf(api.name) > -1")
                i.fa.fa-file-code-o.fa-3x(style='color:orange; float:left; padding-right:10px') 
                p
                  span(style='text-tramsform: capitalize; font-weight: 700; font-family: Arial Bold, Arial; font-style: normal; font-size: 24px; color: #ff9b00') {{api.name}}
                  //p(style='clear: both'){{project.description}}
                textarea(style='border: none; clear: both;background-color: transparent; width: 100%', 
                  | readonly=true) Required capabilities: {{api.devcap}} &#013 Description: {{api.description}}
                  
    
  .modal-footer
      button.btn.btn-default(type="submit", ng-click="cancel()") Cancel
      button.btn.btn-primary(type="submit", ng-disabled="", ng-click="ok()") OK
