<div>
	<div class="modal-header">
		<h3>Test popup</h3>
	</div>
	<div class="modal-body">
		<form class="form-horizontal">
			<div  class="control-group">				
				<div class="controls">
					<select 
						ng-model="selectedAPI"
						id="hourControl"
						ng-options="api in implementedAPIs"
						ng-change="changing()"
						>
					</select>
					
					Selected: selectedAPI
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="ok()">OK</button>
		<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
	</div>
</div>
